.Swiper {
  margin: 150px 100px 0 0;
  width: 100%;
  border-radius: 50px;
}

.Swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-width: 8px;
  border-radius: 50px;
  border-color: #121215;
}

@media (max-width: 1024px) {
  .Swiper {
    width: 100vh;
    height: 400px;
    margin: 0;
    border-radius: 0px;

  }
  .img {
    border-radius: 0;
    border-width: 0px;
  }
} 

@media (max-width: 768px) {
  .Swiper {
    display: none;
  }
}